/*.container {
    display: flex;
    border: 2px solid black;
    justify-content: flex-end;
}*/

/*.container {
    display: flex;
    border: 2px solid black;
    height: 500px;
    justify-content: center;
    align-items: flex-end;
}*/

/*.container {
    display: flex;
    border: 4px solid darkslateblue;
    width: 400px;
    flex-wrap: wrap;
}*/

/*
.container {
    display: flex;
    border: 2px solid black;
    width: 900px;
}

.one {
    order: 2;
}

.two {
    order: 1;
}

.container div:nth-child(1) {
    order: 3;
}
 */

.container {
    display: flex;
    border: 2px solid crimson;
}

.container div {
    flex-grow: 0;
}

.container div:nth-child(6) {
    flex-grow: 4;
}
